html {
    margin: 0;
    padding: 0;
}

body {
    margin: 50px;
    padding: 0;
    background: #fdf6e3;
}



.screenshot {
    display: inline-block;
    vertical-align: top;
    margin: 20px;
    padding: 20px;
    background: #eee8d5;
    box-shadow: 0 0 5px #586e75;
}
    .screenshot img {
        width: 300px;


        border: solid 1px #586e75;
}

    .screenshot figcaption {
    color: #073642;

    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}